* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*générale*/

body {
    background: url('fond-vert-motif.avif');
    color: black;
    font-family: Arial, sans-serif;
}

.menuemplo {
    margin-top: 40px;
    margin-left: 300px;
    color: white;
    background-color: black;
}