* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*générale*/

body {
    background: url('fond-vert-motif.avif');
    color: black;
    font-family: Arial, sans-serif;
}

/*Header*/

header {
    background: url('Image de fond.jpg');
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo1 {
    margin-left: 630px;
}

/*Navigation*/
.navigation {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/*habitats*/

.habitat_JSM {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.hbtitle {
    font-size: 30px;
    margin-top: 70px;
    background-color: green;
}

.JMS {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
}

.Dégradation {
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: 20px;
    background-color: black;
}


/*Avis*/

.avis {
    text-align: center;
    padding: 80px;
    font-weight: bold;
}

fieldset {
    background: url('Image de fond.jpg');
    color: white;
}

input {
    font-size: larger;
    color: green;
    background-color: white;
    border: 0px;
}

.C {
    color: red;
    font-weight: bolder;
    margin-bottom: 30px;
}

/*Fin avis*/

/*footer*/

footer {
    background: url('Image de fond.jpg');
    color: white;
}

.horaires {
    text-align: center;
    padding: 50px;
    padding-left: 600px;
    font-size: 20px;
}

.droit {
    text-align: center;
}

/* fin footer*/

/*Box de couleur */
.J,
.M,
.S {
    background: url('Image de fond.jpg');
    color: white;
}




/* fin Box de couleur */